body{
    background-image: url(assets/wackywizard_bg.png);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#beginachtergrond{
    background-image: url(assets/beginscherm.png);
}
#gameoverscreen{
    background-image: url(assets/gameoverscreen.png);
}
#winscreen{
    background-image: url(assets/winnerscreen.png);
}

#opener{
    background-image: url(assets/openerscreen.png);
}

.heart{
    width: 50px;
    height: 50px;
    padding-top: 10px;
}

.wizard{
    position: absolute;
    bottom: 190px;
    width: 250px;
    right: 610px;
}

#scoreboard p{
    font-size: xx-large;
    color: azure;
    margin-top: 17px;
}
#timerlook{
    padding: 10px;
    font-size: xx-large;
    background-image: url(assets/buttontexture.png);
    border-radius: 1em;
    position: absolute;
    bottom: 10px;
    display: flex;
    color: azure;
    align-items: center;
    justify-content: center;
    right: 630px;
}

#lives .heart.dead{
    opacity: 0.5;
}

#goblin{
    height: 300px;
    width: 300px;
    position: fixed;
}

#scoreboard{
    display: flex;
    gap: 10px;
}

h1{
    color: whitesmoke;
}
#logo{
    width: 700px;
    padding-top: 0;
}
#wizardlaugh{
    height: 350px;
    padding-left: 30em;
    
}
.button{
    font-size: xxx-large;
    background-image: url(assets/buttontexture.png);
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 1em;
    color: azure;
    text-decoration: none; 
    position: absolute;
    bottom: 10px;
}
.buttonplace{
    position: absolute;
    bottom: 50px;
    left: 200px;
}
.buttonplace2{
    position: absolute;
    bottom: 1px;
    right: 900px;
}
